/******************************* ROOT **********************/

:root {
    --clr-default: #fffdfd;
    --clr-light: #43120038;
    --clr-primary: #431200;
    --clr-secondary: #e0ba34;
    --clr-dark: #111;
}

/************************* INITIALIZE *********************/

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
    cursor: pointer;

}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-default);
}


button {
    width: 50px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border: none;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

/****************************** body ************************/

body {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-default);
}

/***************************** header *********************/

header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary);
}

h1 {
    padding: 5px;
    color: var(--clr-default);
    border: 1px solid var(--clr-default);
}

h1 span {
    padding-inline: 5px;
    color: var(--clr-primary);
    background-color: var(--clr-default);
}

.seeLogs {
    color: var(--clr-default);
}

/************************ principal section--> ***************/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/************************ principal section--> ***************/

section.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px 15px;
    background-color: var(--clr-primary);
    border-radius: 10px;
}

.screen {
    width: 100%;
    height: 200px;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--clr-dark);
    border: 2px solid var(--clr-primary);
}

.controls {
    padding: 15px;
    margin-block:0 10px;
    width: 100%;
    background-color: var(--clr-dark);
    border-radius: 10% 10% 10% 10%;
}

.controls button {
    background-color: var(--clr-secondary);
    box-shadow: 1px 1px 1px inset var(--clr-light),
    3px 3px 5px inset var(--clr-light),
    0px -2px 10px inset var(--clr-light);
}

.files-container {
    width: 100%;
    height: 200px;
    padding: 10px;
    overflow-y: scroll;
    background-color: var(--clr-dark);
}

.clip {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.clipLabel {
    position: relative;
    min-width: 30px;
    color: var(--clr-default);
}

.clipLabel:hover::before {
    content: 'rename?';
    position: absolute;
    top: -35px;
    padding: 5px;
    color: var(--clr-dark);
    background-color: var(--clr-default);
    transform: translate(-11px, 5px);
    z-index: 10;
}


.clip audio {
    width: 100%;
}

.clip button.delete {
    aspect-ratio: 1;
    margin-left: 15px;
}

/********************************* log  section ***************/

section.logs-container {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    height: 70%;
    padding: 35px 50px;
    width: 70%;
    font-size: 1.2em;
    z-index: 10;
    border-radius: 10px;
    background-color: var(--clr-primary);
}

.showLog {
    display: block !important;
}

.resetLog {
    position: absolute;
    width: 60%;
    height: 40px;
    bottom: 65px;
    left: 90px;
    transition: .5s;
    border-radius: initial !important;
}

.resetLog:hover {
    color: var(--clr-default);
    background:var(--clr-primary);
    border: 2px solid var(--clr-default);
    border-radius: 7px !important;
}

section.logs-container ul {
    height: 460px;
    padding: 0px 0px 20px 0px;
    overflow-y: scroll;
    background: var(--clr-dark);
}

section.logs-container ul li {
    font-size: 0.8em;
    padding: 5px;
    border: 1px dashed;
    text-align: left;
    list-style: none;
    color: var(--clr-default);
}

footer {
    position: absolute;
    bottom: 0;
    padding-block: 10px;
    width: 100%;
    border-top: .5px solid var(--clr-light);
}

footer a {
    color: var(--clr-dark);
}

/********************************* log  section ***************/



/* @media (min-width:769px) {
    body{
        border: 30px outset goldenrod;
        padding: inherit;
    }
    
    #container{
        max-width: 520px;
        height: initial;
        border: 5px solid goldenrod;
        margin: 50px 0;
        padding: 0 50px 20px 50px;
    }
    
    section{
        width: 25%;
        right: 46px;
        left: initial;
        top: 56px ;
        font-size: initial;
        padding: initial;
    }
    
    section ul{
        height: 395px;
    }
    
    #Toggle{
        top: 61px !important;
        right: 53px;
    }
}  

@media (max-width:480px) {
    h1{
        margin: 0px 0px 20px 0px;
    }
    
    #Toggle{
        position: initial;
        margin-bottom: 20px;
    }
    
    .clip audio{
        width: 85%;
    }
    
    .clip button{
        margin: 0;
        height: 40px;
        width: 40px;
    }
}

@media (max-width:420px) {
    body{
        border: none;
    }
    
    section{
        padding: initial;
        height: 100vh;
    }
    
    section ul{
        max-height: 338px;
    }
    
    #container{
        min-width: 280px;
        position: absolute;
        top: 30px;
    }
    
    .clip{
        flex-wrap: wrap;
        position: relative;
    }
    
    .clip audio{
        width: 100%;
        min-width: 200px;
        z-index: 3;
    }
    
    .clip button{
        position: absolute;
        top: -7px;
        right: -2px;
        z-index: 4;
        border-radius: 118px 78px 89px 45px;
    }
} */